:root {
	--primary-color: rgb(34, 31, 31);
	--primary-fade: rgb(51, 46, 46);
}

body {
	margin: 0;
	background-color: var(--primary-color);
	height: 100vh;
}

.container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-content {
	flex-grow: 1;
	min-width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.footer {
	background-color: rgb(22, 21, 21);
	padding-bottom: 30px;
}

.story-container {
	max-width: 1000px;
	min-height: 100px;
	margin: 0 auto;
	padding: 20px;
}

.tortoise-text {
	color: white;
}

.button-container {
	display: flex;
	justify-content: space-around;
}

.input-text {
	background-color: transparent;
	color: white;
	width: 100%;
	height: 100%;
	border: transparent;
	resize: none;
}

.input-text:focus {
	outline: transparent;
}

button {
	color: white;
	background-color: transparent;
	transition: background-color 200ms ease-in-out;
	border: transparent 2px solid;

	margin: 10px;
	padding: 5px;
}

button:hover {
	border-bottom: white 2px solid;
}

.hidden {
	display: none;
}
